* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	width: auto;
	height: 100%;
    font-family: Optima, Calibri, Candara, Segoe, "Segoe UI", Arial, sans-serif;
	/* font-family: 'Trebuchet MS', Arial, Sans-Serif; */
	font-size: 20px;
	color: #EEEEEE;
	line-height: 1.6em;
    min-width: 940px;
}
a, a:visited {
	/* color: #3a9bc7; */
	color: #FFFFFF;
	text-decoration: none;
    font-weight: bold;
}
a:hover {
	text-decoration: underline;
}

p {
/*  background-color: #333333; */
/*  padding:40px; */
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    padding-left: 15px; 
}

pre {
	background: #efefef;
	border: 1px solid silver;
	margin: 10px 0;
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;
}

#container {
	width: 100%;
	/*min-width: 900px;*/
	padding-top: 340px;  /* WOUTER */
	position: relative;
}

#epilogos_logo {
	background: url(../images/epilogos_logo.png) 0 0 no-repeat;
	width: 200px;
	height: 60px;
	position: absolute;
	top: 30px;
	left: 90px;
	z-index: 1900;
	text-indent: -9999px;
}

#playpause {
	background: url(../images/playpause_medium.png) 0 0 no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 30px;
	left: 30px; 
	z-index: 1900;
	text-indent: -9999px; 
	cursor: pointer;
}

.stage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*min-width: 900px;*/
	height: 340px;
	overflow: hidden;
}
#stage {
	top: 0px;
	left: 0px;
	z-index: 100;
}
#epilogos {
	/* background: transparent url(../images/hill-with-windmill.png) 0 104px repeat-x; */
	background: transparent url(../images/plot_KL_00000000002_WM.png) 0 0px repeat-x;
}
#dragMe {
	position: absolute;
	top: 275px;
	left: 57%;
	z-index: 150;
	background: url(../images/dragme_text.png) 0 0 no-repeat;
	margin-left: -50px;
	width: 100px;
	height: 65px;
}

#slider {
    display: none;/* show dynamically for non smart-phones or ipad */
	position: relative;
	z-index: 200;
	height: 14px;
	width: 100%;
/*	background: url(../images/slider_bg.png) 0 0; */
}
#slider.ui-corner-all,
#slider .ui-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#slider.ui-widget-content {
/*	background: url(../images/slider_bg.png) 0 0; */
	border: 0;
}
#slider .ui-state-default, #slider.ui-widget-content .ui-state-default {
	background: url(../images/slider_handle.png) 0 0 no-repeat;
	width: 23px;
	height: 30px;
	border: 0;
}
#slider.ui-slider-horizontal .ui-slider-handle  {
	position: absolute;
	top: -9px;
	cursor: pointer;
	outline: none;
	height: 23px;
}

#nav {
	height: 46px;
	background: url(../images/nav_bg.png);
}
#nav ul {
	list-style: none;
	padding-left: 30px;
}
#nav li {
	float: left;
	display: inline;
	height: 45px;
	padding-right: 2px;
	margin-top: 1px;
}
#nav li span {
	float: left;
	display: inline;
	height: 45px;
}
#nav li.active {
	background: url(../images/nav_active.png) right 4px no-repeat;
}
#nav li.active span {
	background: url(../images/nav_active.png) left 4px no-repeat;
}
#nav li a {
	float: left;
	display: inline;
	padding: 0 13px 0 15px;
	background: url(../images/nav_items.png) 15px 15px no-repeat;
	height: 45px;
	width: 45px;
	text-indent: -9999px;
	outline: none;
}
#nav #nav-home a {
	width: 75px;
	background-position: 15px 12px;
}
#nav #nav-examples a {
	width: 110px;
	background-position: -75px 12px;
}
#nav #nav-movies a {
	width: 90px;
	background-position: -200px 12px;
}
#nav #nav-browser a {
	width: 100px;
	background-position: -300px 12px;
}
/*
#nav #nav-method a {
	width: 100px;
	background-position: -412px 12px;
}
#nav #nav-applications a {
	width: 145px;
	background-position: -525px 12px;
}
*/
#nav #nav-credits a {
	width: 90px;
	background-position: -680px 12px;
}

#mainContent {
	padding: 20px 30px 30px 30px;
	min-height: 590px;
	height: auto !important;
	height: 590px;
}
#mainContent h1 {
	text-align: -9999px;
	height: 0;
	overflow: hidden;
	margin: 0;
}
.content {
/*	margin-right: 250px; */
/*    display:inline-block; */
}
/*
#sidebar {
	position: absolute;
	top: 520px;
	width: 200px;
	right: 30px;
}
*/


